<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget" value="https://www.myget.org/F/nunit/api/v3/index.json" />
    <add key="local" value="packages" />
  </packageSources>
  <packageSourceMapping>
    <!-- Default package source -->
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <!-- We are using a development build of the recipe, only found on myget -->
    <packageSource key="myget">
      <package pattern="NUnit.Cake.Recipe" />
    </packageSource>
    <!-- Here we list every package created by this project, so it can be installed for testing -->
    <packageSource key="local">
      <package pattern="NUnit.Common" />
      <package pattern="NUnit.Console" />
      <package pattern="NUnit.ConsoleRunner" />
      <package pattern="NUnit.ConsoleRunner.NetCore" />
      <package pattern="NUnit.Engine" />
    </packageSource>
  </packageSourceMapping>
</configuration>